{{!-- <form>
  <div class="form-group">
    <input class="form-control form-control-lg" type="text" placeholder="URL">
  </div>
  <button type="copy" class="btn btn-primary">COPY</button>
</form> --}}
<div>
  <h2>Success! Please use this link</h2>
  <h3>
    <a href="{{link}}">https://secret-brushlands-56466.herokuapp.com/{{shortener}}</a>
  </h3>
</div>