<form action="/generate" method="POST">
  <div class="form-group">
    <input class="url-input form-control form-control-lg" type="url" placeholder="http://" name="name"
      autocomplete="off">
  </div>
  <button type="submit" class="switch-btn btn"><i class="fas fa-sync-alt"></i></button>
</form>